<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Login</title>
    </head>
    <body>
        <h2>Login to watch your videos</h2>
        <a href="/"><button>Back</button></a>
        <form class="login" action="/logging_in" method="post">
            Email:
            <input type="text" name="email" placeholder="Email">
            Password:
            <input type="text" name="email" placeholder="Email">
            <input type="submit" value="Login">
        </form>
    </body>
</html>
