<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Company</title>
    </head>
    <body>
        <h1>Company Management</h1><a href="/company/logout"><button>Logout</button></a>
        <a href="/browse"><button>Back</button></a>
        <div class="add_videos_form">
            <form class="add_videos" action="/add_video" method="post">
                Company Name:
                <input type="text" name="name">
                Season:
                <input type="text" name="name">
                Season Image:
                <input type="file" name="image">
                Season Description:
                <input type="text" name="description">
                Episode Name:
                <input type="text" name="name">
                Episode Number:
                <input type="text" name="number">
                Episode Image:
                <input type="file" name="image">
                Episode Description:
                <input type="text" name="description">

            </form>
        </div>

    </body>
</html>
