<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Browse</title>
    </head>
    <body>
        <h1>Browse Vids Page</h1>
        <h4>Welcome {{user.first_name}}</h4>
        <a href="/browse/logout"><button>Logout</button></a>
        <br>
        {%if user.admin%}
        <a href="/admin"><button>Add Videos</button></a>
        {%endif%}
        <form class="search" action="/search" method="post">
            <input type="search" name="search" placeholder="Search">
        </form>
        <!-- FEATURED VIDEOS CARROSELL -->
        <div class="featured_videos">
            <h2>Featured Videos</h2>
        </div>
        <!-- END FEATURED VIDEOS CARROSELL -->
        <!-- FAVORITE VIDEOS -->
        <div class="favorite_videos">
            <h2>Favorite Videos</h2>
        </div>
        <!-- END FAVORITE VIDEOS -->
        <!-- RECENTLY WATCHED VIDEOS -->
        <div class="recently_watched">
            <h2>Recently Watched Videos</h2>
        </div>

    </body>
</html>
