<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Wrestle Coast</title>
    </head>
    <body>
        <h1>Login</h1>
        <a href="{%url 'home'%}"><button>Home</button></a>
        <div class="login_container">
            <form class="login" action="/logging_in" method="post">
                Email:
                <input type="text" name="email" placeholder="Email">
                Password:
                <input type="text" name="password" placeholder="Password">
                <input type="submit" value="Login">
            </form>
        </div>
    </body>
</html>
